body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
}
h1{
    font-size:40px;
    
    
}
.color{
    color:orange;


}
.flexibal-container{
   display:flex;
   margin-bottom:5%;
    
   
}
.half-width{
    width:50%;
    padding-left:80px;
   
  
}
.half-width img{
    width:100%;
    padding-top:50px;
}
.link-botton{
    text-decoration:none;
    background-image:linear-gradient(green, yellow);
    padding:2px 1px;
    border-radius:4px;
    color:white;
    font-weight:700px;
   

}
.bannar{


    background-image: url(images/image.png);
    background-repeat: no-repeat;
    padding-right:10%;
    
}

.vul{
    background-image: url(images/image.png) ;
    background-repeat: no-repeat;


}
.experience-area{

    background-image: url(images/image.png) ;
    background-repeat: no-repeat;
    background-position-y:30px ;
    background-position-x: 50%;

}
.experience-item{
    box-shadow: 20px 20px 50px gray;
    width:40%;
    margin-left: 5%;
    margin-right:5% ;
    padding-left:10px;
    border-radius: 20px;
   
}
#web-dev{
    border-left:8px solid;
    border-image: linear-gradient(orange,red);
    border-image-slice: 1%;

}
#web-item{

    border-left:8px solid;
    border-image: linear-gradient(green,yellow);
    border-image-slice: 1%;


}
footer p{
    text-align:center;

}